* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: rgba(174, 235, 226, 0.8);
}

#container {
  width: 90%;
  border: 3px solid rgb(65, 63, 145);
  margin: 1.5rem auto;
}

#heading {
  width: 100%;
  height: 10rem;
  background-color: rgb(238, 226, 119);
  text-align: center;
  font-size: large;
  display: flexbox;
  justify-content: space-between;
}

#link ul {
  display: flex;
  text-align: left;
  list-style: none;
  margin-top: 1.5rem;
  padding-left: 2rem;
}

#link li {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

#link li a {
  background-color: rgb(243, 165, 165);
  padding: 0.5rem;
}

#link li a:hover {
  background-color: rgb(240, 98, 98);
}

#img ul {
  display: flex;
  text-align: right;
  list-style: none;
  margin-top: 1.5rem;
  padding-left: 2rem;
}

#img li {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

#img li a {
  background-color: rgb(243, 165, 165);
  padding: 0.5rem;
}

#img li a:hover {
  background-color: rgb(240, 98, 98);
}

#main {
  width: 100%;
  background-color: rgb(39, 201, 187);
  display: flex;
}

aside {
  width: 20%;
  background-color: rgb(39, 201, 187);
  text-align: center;
}

aside ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 1.5rem;
}

aside li {
  padding: 1rem 0.5rem 1rem 0.5rem;
}

aside li a {
  background-color: rgb(154, 154, 236);
  padding: 0.5rem;
}

aside li a:hover {
  background-color: rgb(228, 188, 58);
}

#section {
  width: 80%;
  background-color: rgb(126, 201, 236);
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  padding: 2rem 2rem;
  height: 100%;
  width: 100%;
  position: absolute;
}
#footer {
  width: 100%;
  height: 7rem;
  background-color: rgb(240, 216, 193);
}
