/* back to homepage*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
nav {
  font-family: 'Open Sans', sans-serif;
  background: #e6dab6c2;
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav.scrolled {
  background: #5ecece;
}

nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}

nav li {
  float: left;
}

nav a {
  font-size: 1em;
  color: #5a5151;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}

nav a:hover {
  color: #ee3d64;
  font-weight: bolder;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro {
  padding-top: 5rem;
}

:root {
  /*   color variables */
  --pink: #ff4081;
  --clr-primary: #304ffe;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --clr-gray300: #a7b7be;
  --clr-gray400: #6b7e86;
  --clr-gray500: #425a65;
  /*   border radius */
  --radius: 0.2rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #5b6d66;
}

header {
  margin: 1.5rem auto;
  padding: 0.5rem auto;
  width: 90vw auto;
  background-color: #053149;
  border: 1.5rem solid #eff4f5;
  font-weight: bold;
  font-size: 1.3rem;
}

header ul {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

header li a {
  text-decoration: none;
  color: white;
  padding-right: 3em;
  position: relative;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

header li a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color: var(--pink);
  bottom: -1em;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

header li a:hover::after {
  width: 60%;
}

header li a:hover {
  color: var(--pink);
}

header li:first-child {
  margin-right: auto;
  margin-left: 3em;
}

.cards {
  width: 90vw auto;
  font-family: Montserrat, sans-serif;
  margin: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 0.3fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 0.3fr));
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background-color: white;
  overflow: hidden;
  border: 1px solid var(--clr-gray200);
  -webkit-box-shadow: 4px 4px var(--clr-gray200);
          box-shadow: 4px 4px var(--clr-gray200);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: border 200ms ease-in, -webkit-box-shadow 200ms ease-in;
  transition: border 200ms ease-in, -webkit-box-shadow 200ms ease-in;
  transition: border 200ms ease-in, box-shadow 200ms ease-in;
  transition: border 200ms ease-in, box-shadow 200ms ease-in, -webkit-box-shadow 200ms ease-in;
}

.card__image {
  height: 12rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__title {
  padding: 1rem;
}

.card__description {
  padding: 0 1rem;
}

.card__link {
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  color: var(--clr-primary);
}

.card__link::after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  left: 0.5rem;
}

.card:hover {
  border: 1px solid var(--clr-primary);
  -webkit-box-shadow: 8px 8px var(--clr-primary);
          box-shadow: 8px 8px var(--clr-primary);
}

.card:hover .card__link::after {
  -webkit-animation: arrow 1s ease-in-out infinite alternate;
          animation: arrow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes arrow {
  0% {
    left: 0.5rem;
  }
  100% {
    left: 1.5rem;
  }
}

@keyframes arrow {
  0% {
    left: 0.5rem;
  }
  100% {
    left: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */